build/
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.synctex(busy)
*.bbl
*.blg
*.lof
*.lot
*.fls
*.bcf
*.run.xml

# Ignore the .vscode directory, which contains user-specific settings and configurations for Visual Studio Code.
.vscode/